@font-face {
  font-family: outfit;
  src: url("assets/fonts/outfit/static/Outfit-Regular.ttf");
}
@font-face {
  font-family: young-serif;
  src: url("assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  width: 1440px;
  height: 1955px;
  font-size: 16px;
  overflow: auto;
  background-color: hsl(30, 54%, 90%);
}
main {
  height: 90%;
  width: 47%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 20px;
  padding: 3%;
  padding-bottom: 0;
  font-family: "outfit";
  font-weight: 400;
  color: hsl(30, 10%, 34%);
  background-color: hsl(0, 0%, 100%);
}
img {
  border-radius: 10px;
}
.main-head-h1 {
  font-family: "young-serif";
  font-size: xxx-large;
  font-weight: 100;
  margin-left: -6px;
  margin-top: 2%;
  letter-spacing: -0.08rem;
  word-spacing: 0.02rem;
  color: hsl(24, 5%, 18%);
}
.h1-paragraph {
  margin-top: -20px;
}
.preparation-time-div {
  width: 100%;
  height: 10%;
  border-radius: 10px;
  margin-top: 4%;
  background-color: hsl(330, 100%, 98%);
}
.preparation-time-head-h3 {
  padding-top: 3%;
  margin-left: 4%;
  font-weight: 700;
  color: hsl(332, 51%, 32%);
}
.preparation-time-ulist {
  margin-left: -1.2%;
  list-style-position: inside;
  /* color: hsl(30, 10%, 34%); */
}
.preparation-time-ulist span,
.instructions-olist ::marker,
.instructions-olist span {
  font-weight: bold;
  text-shadow: 0.01px 0 #000;
}
.preparation-time-ulist span {
  padding-left: 2.5%;
}
.preparation-time-ulist li,
.ingredients-ulist li,
.instructions-olist li {
  margin-bottom: 10px;
  letter-spacing: 0.01rem;
}
.preparation-time-ulist {
  list-style-type: disc;
}
.preparation-time-ulist ::marker {
  font-size: 10.5px;
  color: hsl(332, 51%, 32%);
}
.preparation-time-ulist span,
.instructions-olist span {
  color: hsl(30, 10%, 34%);
}
.ingredients-head-h2,
.instructions-head-h2,
.nutrition-head-h2 {
  font-family: "young-serif";
  font-weight: 400;
  font-size: xx-large;
  color: hsl(14, 45%, 36%);
}
.ingredients-head-h2,
.instructions-head-h2 {
  margin-bottom: 3px;
}
.ingredients-ulist {
  margin-left: -2.5%;
  list-style-type: square;
}
.ingredients-ulist,
.instructions-olist {
  list-style-position: outside;
}
.ingredients-ulist ::marker {
  font-size: 10.5px;
  color: hsl(14, 45%, 36%);
}
.ingredients-ulist li,
.instructions-olist li {
  padding-left: 3.5%;
}
.ingredients-div,
.instructions-div {
  margin-bottom: 5%;
}
hr {
  width: 100%;
  border: 0.1px solid hsl(30, 18%, 87%);
}
.instructions-olist {
  margin-left: -17px;
}
.instructions-olist ::marker {
  color: hsl(14, 45%, 36%);
}
.nutrition-para1 {
  margin-top: -5px;
  margin-bottom: 25px;
}
.tr1-col2,
.tr2-col2,
.tr3-col2,
.tr4-col2 {
  font-weight: bold;
  text-shadow: 0.1px 0px #000;
  color: hsl(14, 45%, 36%);
  padding-left: 3%;
}
.tr1-col1,
.tr2-col1,
.tr3-col1,
.tr4-col1 {
  padding-left: 4%;
}
table tr {
  height: 30px;
  font-weight: 700;
}
